// @import "theme.styl"

// // Main Elements
// body
//   font-family --font-family
//   font-size --font-size
//   line-height --font-line-height
//   color lighten(--gray-900, 40)
//   margin 0
//   padding 0
//   background-color --gray-200

// a
//   text-decoration none
//   transition --transition
//   color --primary
//   &:hover, &:active, a&focus
//     text-decoration none
//     color darken(--primary, 5)

// // Layout & Alignment
// .flex
//   display flex
//   &.flex-row
//     flex-direction row
//   &.flex-column
//     flex-direction column
//   &.justify-space-between
//     justify-content space-between
//   &.justify-center
//     justify-content center
//   &&.justify-end
//     justify-content flex-end
//   &.align-center
//     align-items center

// // Spacing Helpers
// .mr-sm
//   margin-right --spacing-sm

// // Text
// .text-center
//   text-align center

// .text--primary
//   color --primary
// .text--white
//   color --white

// .title
//   font-size --font-size-smaller
//   letter-spacing 2px
//   text-transform uppercase
//   &:first-child
//     margin-top 0

// // Colors
// .background--primary
//   background --primary

// // Inputs
// .field 
//   margin-bottom --spacing-lg
//   position relative
//   &:last-child
//     margin-bottom 0

//   label
//     display inline-block 
//     position absolute
//     z-index 2
//     font-size --font-size-smaller
//     background --white
//     padding --spacing-xs --spacing-sm
//     height --spacing-md
//     line-height --spacing-md
//     left --spacing-sm
//     top -12px
  
//   input 
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     display block
//     padding --spacing-md
//     font-size --font-size
//     border-radius --border-radius
//     border 1px solid --gray-500
//     width 100%
//     box-sizing border-box
//     outline none
//     color --gray-900
//     font-weight 500
//     transition --transition

//     &:hover
//       border-color lighten(--gray-900, 50)

//     &:focus
//       border-color --primary

// .vdpArrowPrev:after {
//     border-right-color: --primary;
// }

// .vdpArrowNext:after {
//     border-left-color: --primary;
// }

// .vdpCell.selectable:hover .vdpCellContent,
// .vdpCell.selected .vdpCellContent {
//     background: --primary;
// }

// .vdpCell.today {
//     color: --primary;
// }

// .vdpTimeUnit > input:hover,
// .vdpTimeUnit > input:focus {
//     border-bottom-color: --primary;
// }

// // Buttons
// .button
//   padding --spacing-sm --spacing-md
//   font-weight bold
//   text-align center
//   letter-spacing 1.5px
//   text-transform uppercase
//   box-shadow --shadow-xs
//   transition --transition
//   font-size --font-size-smaller
//   box-sizing border-box
//   color --gray-900
//   border-radius --border-radius
//   display inline-block
//   transform translateY(0)
//   cursor pointer

//   //  Main Button Hover
//   &:hover
//     transform translateY(-.5px)
//     box-shadow --shadow-sm

//   // Sizing
//   &.button--small
//     padding --spacing-sm
//     font-size --font-size-smallest
//   &.button--large
//     padding --spacing-lg
//     font-size --font-size-larger

//   // Types
//   &.button--primary
//     background-color --primary
//     color --white
//     &:hover
//       background-color darken(--primary, 5)
      
//   &.button--danger
//     background-color --danger
//     color --white
//     &:hover
//       background-color darken(--danger, 5)  

//   &.button--block
//     display block
//     width 100%