// Theme Variables

//Colors
--white = #ffffff
--gray-100 = #fcfdfd
--gray-200 = #f3f6f7
--gray-300 = #eaeef1
--gray-400 = #e0e7ec
--gray-500 = #d7dfe6
--gray-900 = #2a3743
--primary = #0D86E7
--success = #2effa4
--danger = #ff3c2e

// Font Variables
--font-uri = "https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
--font-family = "Roboto", sans-serif
--font-size = 16px
--font-size-smaller = 14px
--font-size-smallest = 11px
--font-size-larger = 20px
--font-size-largest = 24px
--font-line-height = 1.5

// Spacing Variables
--spacing-xxs = 2px
--spacing-xs = 4px
--spacing-sm = 8px
--spacing-md = 16px
--spacing-lg = 32px
--spacing-xl = 64px
--spacing-xxl = 128px

// Interaction
--transition = all .5s ease

// Presentation
--shadow-xs = 0px 2px 4px -1px rgba(37,44,54,0.25)
--shadow-sm = 0px 8px 8px -1px rgba(37,44,54,0.1)
--shadow-md = 0px 16px 32px -1px rgba(37,44,54,0.12)
--shadow-lg = 0px 24px 60px -1px rgba(37,44,54,0.14)

--border-radius = 4px
